#root {
  padding: 1rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main {
  background-color: #2c2d47aa;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius:3rem ;

}
.navbar {
  height: 100px;
  border-radius: 3rem;
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: row;
  background-color: lightblue;
}
.navbutton {
  border-radius: 3rem;
  margin-left: 10px;
  padding:10px;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  background-color: red;
}
.navbutton:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.card {
  padding: 2em;
  height: auto;
}

