#root {
  padding: 2rem;
  text-align: center;
}
.main {
  background-color: #2c2d47aa;
  display: flex;
  flex-direction: column;

  padding: 2rem;
  border-radius:3rem ;

}
.navbar {
  height: 100px;
  border-radius: 3rem;
  padding: 10px;
  display: flex;
  flex-direction: row ;
  background-color: lightblue;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
  height: auto;
}
.navbutton {
  border-radius: 3rem;
  margin-left: 10px;
  padding:10px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  background-color: red;

}

.read-the-docs {
  color: #888;
}
