:root {
    background-color: lightgoldenrodyellow;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Navbar {
    display: flex;
    flex-direction:row ;
    padding: 10px;
    background-color: lightgreen;
    height: 60px;
}

.navbutton {
    border-radius: 10px;
    text-align: center;
    font-size: medium;  
    width: 100px;
    text-decoration: solid;
}   

.navleft {
    flex: 1;
    display: flex;
    margin-left: 300px;
    flex-direction: row;
}
.navright {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-left: 100px
    }
.navright img {
    width: 60px;
    height: 60px;
}
.navright img:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.logoimg {
    width: 70px;
    height: 70px;
}

.frontbody {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: green;
    padding-top: 1%;
}
.gotoorder {
    background-color: greenyellow;
    color: blacks;
    border-radius: 5px;
    width: fit-content;
    margin-left: 47%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.gotoorder:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.menuselect {
    background-color:#ffcab0;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
}
.menuselect:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.menuselect img {
    width: 60%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}
.menuselect p {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.foodcontainer { 
    display: flex;
    flex-direction: row;
}

.choosemenu {
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}